# Object files
*.o
*.obj
*.elf

# Executables
*.exe
src/nOVL

# Text editor remnants
*.swp
.vscode/*
.idea/*

# Cache
autom4te.cache/*
src/.deps/*

Makefile
autom4te.cache/*
config.h.in
config.h.in~
config.log
src/.deps/*
src/Makefile
doc/Makefile
